<div id="container">
  <strong> {{ name }} </strong>
  <img src="https://cdn.pixabay.com/photo/2016/11/21/14/31/vw-bus-1845719_960_720.jpg">
  <table id="table1" style="width:100%">
  <tr class="third">
    <th>Camping</th>
    <th>Adres</th>
    <th>Website</th>
  </tr>
  <tr>
    <th>De Karnemelkplaats</th>
    <th>Voorweg 1 <br> 1759 NX Callantsoog <br> Nederland <br> 
    <th><a href="https://www.karnemelkplaats.nl">Link</a></th>
  </tr>
  <tr>
    <th>Tro Do We</th>
    <th>Rue Tro Do We 2 <br> 6687 Bertogne <br> Belgie <br> 
    <th><a href="https://www.trodoway.be">Link</a></th>
  </tr>
  </table>
</div>