<!-- <p>child works!</p> -->
<!--<div id="container-strong">
  <label for="ChildInvoer">Geselecteerde campings</label>
<input type="text" id="ChildInvoer" name="geselecteerde_campings" placeholder="Zoek een camping..."><br>-->
<!--<img src="https://cdn.pixabay.com/photo/2016/11/21/14/31/vw-bus-1845719_960_720.jpg" alt="Volkswagen camperbus geparkeerd aan de kust"><br>

<body>
<table id="table1">
  <thead>
  <tr class="third">
    <td>Camping</td>
    <td>Adres</td>
    <td>Website</td>
  </tr>
  </thead><br>

  <tr class="second">
    <td>De Karnemelkplaats</td>
    <td>Voorweg 1 <br> 1759 NX Callantsoog <br> Nederland <br></td>
    <td><a href="https://www.karnemelkplaats.nl">Link</a></td><br>
  </tr><br>
  <tr class="second">
    <td>Tro Do We</td>
    <td>Rue Tro Do We 2 <br> 6687 Bertogne <br> Belgie <br></td> 
    <td><a href="https://www.trodoway.be">Link</a></td>
  </tr>
  </table>

</body>
<input type="text" id="ChildInvoer" [(ngModel)]="ChildInvoerModel">
<button (click)="onChildInvoer()">versturen</button> -->

<body>
  <div id="container-strong">
  <label for="ChildInvoer">Geselecteerde campings</label></div>
  <br>

<div id="image_kamperen">
<img src="https://images.pexels.com/photos/2662816/pexels-photo-2662816.jpeg"></div>

  <div>
  <table id="table1">
      <tr class="third">
        <th>Camping</th><br>
        <th>Adres</th><br>
        <th>Website</th><br>
      </tr>
      <tr class="second">
        <td>De Karnemelkplaats</td><br>
        <td>Voorweg 1<br>1759 NX Callantsoog<br>Nederland</td><br>
        <td><a href="https://www.karnemelkplaats.nl" target="_blank">Link</a></td>
      </tr><br>
      <tr class="second">
        <td>Tro Do We</td><br>
        <td>Rue Tro Do We 2<br>6687 Bertogne<br>België</td><br>
        <td><a href="https://www.trodoway.be" target="_blank">Link</a></td>
      </tr>
  </table>
</div>
</body>